Xcode
*.xcuserstate
project.xcworkspace
xcuserdata/
DerivedData/
.build/
/.swiftpm/xcode/package.xcworkspace
/.swiftpm/xcode/xcuserdata/
.DS_Store
*.log
*.tmp
Pods/

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
xcshareddata/
DerivedData/
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
**/GenerativeAI-Info.plist
